<?xml version="1.0"?>

<model>
  <name>biao_blue</name>
  <version>1.0</version>
  <sdf version='1.6'>biao.sdf</sdf>

  <author>
    <name>Eouning</name>
    <email>1164224705@qq.com</email>
  </author>

  <description>
    A plane with a reference texture on it depicting an asymmetrical circle pattern.
  </description>
</model>
